benchmark/results/
benchmark/ref/
benchmark/scratch/
benchmark/test-env/
benchmark/_dbt_workdir/
benchmark/_parse_test/
benchmark/test_tasks/
benchmark/*.zip
benchmark/img.png
benchmark/check_*.py
benchmark/reeval_*.py
benchmark/run2_score.py
benchmark/run*.sh
benchmark/fix_starting_dbs.*
.env
.git
__pycache__
*.pyc
node_modules
